
section {
    background-color: #caf937;
    width: 1132px;
    margin: auto;
}

#result {
    height: 50px;
    width: 100px;
    color: #94989c;
    padding: 10px;
    font-size: 50px;
}

#check {
    outline: 0;
    border: 1px solid #0f0;
    background-color: #f2f9ff;
    height: 50px;
    width: 50px;
    color: #94989c;
    padding: 10px;
    font-size: 25px;
    cursor: pointer;
}

.inputs {
    background-color: #cfff38;
    width: 1132px;
    margin: auto;
}

.game {
    width: 50px;
    margin: 50px;
    display: inline-block;
}

#player {
    border: solid  15px #9a7a08;
}

.board {
    height: 150px;
    width: 150px;
    background-color: #ffffff;
    border: solid  15px #0D9A33;
    border-radius: 50%;
    display: inline-block;
    margin: 50px;
}

p {
    font-size: 45px;
    color: #0D9A33;
    font-weight: bold;
    font-family: Roboto, sans-serif;
    letter-spacing: 4px;
    text-align: center;
}

#start {
    cursor: pointer;
}
