
section {
    background-color: #caf937;
    width: 1132px;
    margin: auto;
}

#result {
    height: 50px;
    width: 100px;
    color: #94989c;
    padding: 10px;
    font-size: 50px;
}

#check {
    outline: 0;
    border: 1px solid #0f0;
    background-color: #f2f9ff;
    height: 50px;
    width: 50px;
    color: #94989c;
    padding: 10px;
    font-size: 25px;
    cursor: pointer;
}

.inputs {
    background-color: #cfff38;
    width: 1132px;
    margin: auto;
}

.game {
    width: 50px;
    margin: 50px;
    display: inline-block;
}

#player {
    border: solid  15px #9a7a08;
}

.board {
    height: 150px;
    width: 150px;
    background-color: #ffffff;
    border: solid  15px #0D9A33;
    border-radius: 50%;
    display: inline-block;
    margin: 50px;
}

p {
    font-size: 45px;
    color: #0D9A33;
    font-weight: bold;
    font-family: Roboto, sans-serif;
    letter-spacing: 4px;
    text-align: center;
}

#start {
    cursor: pointer;
}

.blink {
    -webkit-animation: blinker;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

.signal {
    border: 10px solid #9a7a08;
    height: 50px;
    width: 100px;
    color: #94989c;
    padding: 10px;
    font-size: 50px;
}